body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box_shadow1{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
h2{
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}
.header{
  padding: 0.5rem;

}
.content{
  min-height: 90vh;
  
}
