body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* width: 100% !important; */
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding:0,2rem; */
  /* padding: 10px; */
}
.box_shadow1{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
h2{
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}
.header{
  padding: 0.5rem;

}
.content{
  min-height: 90vh;
  
}

.carimg{
  height: 200px;
  width: 100%;
  border-radius: 6px;
  transform: translateY(-50px); 
}
p{
  margin: 5px !important;
  text-align: left;
  padding: 0;
}
.btn1{
  box-shadow: none !important ;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered !important; 
  padding: 5px 10px;

}
.btn1:focus{
  border: none !important;
  outline: none !important;
}
.header .ant-btn{
  box-shadow: none !important ;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered; 
  padding: 5px 10px;
  /* margin-left: 100% !important; */
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
.car{
  border-radius: 5px;
  /* margin-top: 100px; */
  height: 200px;
  transition: all 0.3s;
}
.car:hover{
  height: 250px;

}
.car:hover > .car-content{
  opacity: 1;
  transform: translateY(-35px);
}
.car-content{
  transform: translateY(-200px);
  opacity: 0;
  transition: all 0.3s;
}
.login{
  background-color: black;
  min-height: 100vh;
  border-radius: 5px;
  
  /* color: whitesmoke; */
}
.login label, .login h1, .login h2{
  color: whitesmoke !important;
  opacity: 0.5;
  text-align: left;
}

.login-form{
  background-color: #1F1F1F;
  text-align: left !important;

}
.login input{
  background-color: rgb(51,51,51);
  border: none;
  color: white;
  opacity: 0.6;
}

.login-name{
  /* text-align: center; */
  position: absolute;
  left: 36%;
  right: 0;
  top: 60%;
  bottom: 50%;
  opacity: 0.3 !important;

}

.login a{
  color: white;
  opacity: 0.5;
  /* margin-left: 5px !important; */
  

}



